<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Custom Foods </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Custom Foods</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar (ionChange)="filterFoods()" [(ngModel)]="searchTerm"></ion-searchbar>
  <ion-list *ngIf="!searchTerm">
    <ion-list-header>Custom Foods</ion-list-header>
    <ion-item *ngFor="let food of customFoods">
      <ion-label>
        <h2 [innerHTML]="food?.name"></h2>
        <h3 [innerHTML]="food?.calories.toFixed(2) + ' Calories'"></h3>
        <p>Serving Size: {{food?.common_serving_quantity + ' ' + food?.common_serving_units_name}}</p>
        <p>
          Carbs: <strong>{{food?.carbohydrates.toFixed(2)}}g</strong> &nbsp; Proteins:
          <strong>{{food?.protein.toFixed(2)}}g</strong> &nbsp; Fats:
          <strong>{{food?.fat.toFixed(2)}}g</strong>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="searchTerm">
    <ion-list-header>Custom Foods</ion-list-header>
    <ion-item *ngFor="let food of customFoods">
      <ion-label>
        <h2 [innerHTML]="food?.item?.name"></h2>
        <h3 [innerHTML]="food?.item?.calories.toFixed(2) + ' Calories'"></h3>
        <p>Serving Size: {{food?.item?.common_serving_quantity + ' ' + food?.item?.common_serving_units_name}}</p>
        <p>
          Carbs: <strong>{{food?.item?.carbohydrates.toFixed(2)}}g</strong> &nbsp; Proteins: <strong>{{food?.item?.protein.toFixed(2)}}g</strong> &nbsp;
          Fats: <strong>{{food?.item?.fat.toFixed(2)}}g</strong>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
