<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Favorite Foods </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Favorite Foods</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-searchbar (ionChange)="filterFoods()" [(ngModel)]="searchTerm"></ion-searchbar>
  <ion-list *ngIf="!searchTerm">
    <ion-list-header>Favorite Foods</ion-list-header>
    <ion-item *ngFor="let food of favoriteFoods">
      <ion-avatar slot="start">
        <img [alt]="food?.name" [src]="food.nix_photo_url" />
      </ion-avatar>
      <ion-label>
        <h2 [innerHTML]="food?.name"></h2>
        <h3 [innerHTML]="food?.brand_name"></h3>
        <p>
          Serving Size: {{food?.quantity.toFixed(2) + ' ' + food?.conversion?.name}} |
          {{food?.conversion?.calories.toFixed(2)}} Calories
        </p>
        <p>
          Carbs: <strong>{{food?.conversion?.carb_grams.toFixed(2)}}g</strong> &nbsp; Proteins:
          <strong>{{food?.conversion?.protein_grams.toFixed(2)}}g</strong> &nbsp; Fats: <strong>{{food?.conversion?.fat_grams.toFixed(2)}}g</strong>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="searchTerm">
    <ion-list-header>Favorite Foods</ion-list-header>
    <ion-item *ngFor="let food of favoriteFoods">
      <ion-avatar slot="start">
        <img [alt]="food?.item?.name" [src]="food?.item?.nix_photo_url" />
      </ion-avatar>
      <ion-label>
        <h2 [innerHTML]="food?.item?.name"></h2>
        <h3 [innerHTML]="food?.item?.brand_name"></h3>
        <p>
          Serving Size: {{food?.item?.quantity.toFixed(2) + ' ' + food?.item?.conversion?.name}} |
          {{food?.item?.conversion?.calories.toFixed(2)}} Calories
        </p>
        <p>
          Carbs: <strong>{{food?.item?.conversion?.carb_grams.toFixed(2)}}g</strong> &nbsp; Proteins:
          <strong>{{food?.item?.conversion?.protein_grams.toFixed(2)}}g</strong> &nbsp; Fats:
          <strong>{{food?.item?.conversion?.fat_grams.toFixed(2)}}g</strong>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
